<!--" About" HTML file -->

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}?v=1">

</head>
<body>
    <div class="top-border"></div> <!--added border-->
    <div class="container about-section"> <!--main container for about section-->
        <h1>Breanna Thelwell</h1> <!-- name as main heading for page-->
        <div class="about-content"> <!--content wrapper-->
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" class="profile-img"> <!--added image with alt text-->
            <div class="about-text"> <!--text container-->
                <h2>Meeting</h2> <!--subheading-->
                <h3 class="adelia-font">Student & Creator</h3> <!--title, styled with ADELIA font -->
                <p>I am a student at the University of the West Indies, and I am currently learning Web Development II. I enjoy puzzles, such as crosswords, sudoku, jigsaw, and anagrams.</p>
            </div>
        </div>
    </div>   
    <div class="bottom-border"></div>  <!--added border-->
</body>
</html>